
<div class="main-body">
  <div class="main-container">
    <div class="main-content text-center">
      welcome to cx
    </div>
  </div>
</div>

<button type="button" name="button" class="mt40 ml40 btn btn-success" {{action 'postmessage'}}>
  向父层发送消息
</button>
