<div class="aside-main" id="mingdan-con">
    <div class="btn btn-red-outline" data-toggle="modal" id="mingdan-title">中奖名单</div>
    <div class="award-main">
        <div id="award-123">
            <div class="award-con" id="award-01">
                <h3 class="award-title">一等奖</h3>
                <ul class="win"></ul>
            </div>
            <div class="award-con" id="award-02">
                <h3 class="award-title">二等奖</h3>
                <ul class="win"></ul>
            </div>
            <div class="award-con" id="award-03">
                <h3 class="award-title">三等奖</h3>
                <ul class="win"></ul>
            </div>
        </div>
        <div class="award-con" id="award-04">
            <h3 class="award-title">纪念奖</h3>
            <ul class="win"></ul>
        </div>
        <a href="javascript:;" id="award04-toggle" class="more">查看更多</a>
    </div>
</div>
<img src="./img/lantern.png" alt="" width="85" id="mingdan" class="switch">
