<button type="button" name="button" {{action 'add'  }}>add</button>
<ul>
  {{#each shoppingCart.items as |item|}}
    <li>
      {{item.name}}
      <button {{action "remove" item}}>Remove</button>
    </li>
  {{/each}}
</ul>
