@import "until";
@import "reset";
@import "team";
@import "index";
@import "ember-power-select";
@import "pod-styles";
@import "ember-power-calendar";

*, :after, :before {
    box-sizing: border-box;
}
// 图标高度
.main-header .sidebar-toggle{
  height: 50px;
}
.meny-contents{
  .top-header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  .left-side{
    position: fixed;
    left: 0;
  }
  .right-side{
    margin-top: 50px;
    height: 100%;
  }
}
