@import "until";
@import "reset";
@import "team";
@import "index";
@import "ember-power-select";
@import "pod-styles";


*, :after, :before {
    box-sizing: border-box;
}
// 图标高度
.main-header .sidebar-toggle{
  height: 50px;
}
.meny-contents{
  .top-header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  .left-side{
    position: fixed;
    left: 0;
  }
  .right-side{
    margin-top: 50px;
    height: 100%;
  }
}

.canvasStar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
    background: linear-gradient(to bottom, #dcdcdc 0%, palevioletred 100%);
    .canvas{
      width: 100%;
      height: 100%;
    }
}
#main-canvas {
    width: 100%;
    height: 100%;
}
.filter {
    width: 100%;
    height: calc(~'100% - 50px');
    position: absolute;
    top: 0;
    left: 0;
    background: #fe5757;
    animation: colorChange 30s ease-in-out infinite;
    animation-fill-mode: both;
    mix-blend-mode: overlay;
}
@keyframes colorChange {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: .7;
    }
}


.flex-come{
    .header{
      height: 44px;
      line-height: 44px;
      text-align: center;
      font-size: 16px;
      background-color: rgb(235, 253, 255);
    }
    .mainbdy{
      border-left: 1px solid #ccc;
      border-top: 1px solid #ccc;
    .main-title{
      .main-name{
        flex: 1 1 auto;
        text-align: center;
        height: 44px;
        line-height: 44px;
        align-items: center;
        align-self: center;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }
      // .main-name:first-child{
      //   border-left: 1px solid #ccc;
      // }
    }
    .main-item{
      flex-wrap: wrap;
      .flex-com{
        text-align: center;
        height: 44px;
        line-height: 44px;
        flex: 1 1 25%;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }
      .id{
        background: rgb(235, 253, 255);
      }
    }
  }
  .list-table{
    th,td{
      text-align: center;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      font-weight: normal;
      height: 44px;
      line-height: 44px;
    }
    table{
      border-left: 1px solid #ccc;
      border-top: 1px solid #ccc;
    }
    .id{
      background: rgb(235, 253, 255);
    }
  }
}
