  <div class="aside-main" id="liwu-con">
      <div class="btn btn-red-outline" data-toggle="modal" id="liwu-title">新年礼物</div>
      <div class="award-main">
          <div class="award-con">
              <h3 class="award-title">一等奖</h3>
              <ul class="win">
                  <li class="clearfix win-li">
                      <div class="f-l avatar">
                          <img width="34" src="./img/gift/canon.jpg"/>
                      </div>
                      <div class="f-l name">佳能微单</div>
                  </li>
              </ul>
          </div>
          <div class="award-con">
              <h3 class="award-title">二等奖</h3>
              <ul class="win">
                  <li class="clearfix win-li">
                      <div class="f-l avatar">
                          <img width="34" src="./img/gift/kindle.jpg"/>
                      </div>
                      <div class="f-l name">Kindle 阅读器</div>
                  </li>
                  <li class="clearfix win-li">
                      <div class="f-l avatar">
                          <img width="34" src="./img/gift/kule.jpg"/>
                      </div>
                      <div class="f-l name">酷乐视投影机</div>
                  </li>
                  <li class="clearfix win-li">
                      <div class="f-l avatar">
                          <img width="34" src="./img/gift/beats.jpg"/>
                      </div>
                      <div class="f-l name">Beats动力耳机</div>
                  </li>
              </ul>
          </div>
          <div class="award-con">
              <h3 class="award-title">三等奖</h3>
              <ul class="win">
                  <li class="clearfix win-li">
                      <div class="f-l avatar">
                          <img width="34" src="./img/gift/jingdong.jpg"/>
                      </div>
                      <div class="f-l name">京东购物E卡</div>
                  </li>
                  <li class="clearfix win-li">
                      <div class="f-l avatar">
                          <img width="34" src="./img/gift/yashua.jpg"/>
                      </div>
                      <div class="f-l name">飞利浦电动牙刷</div>
                  </li>
                  <li class="clearfix win-li">
                      <div class="f-l avatar">
                          <img width="34" src="./img/gift/anmo.jpg"/>
                      </div>
                      <div class="f-l name">颈椎按摩器</div>
                  </li>
              </ul>
          </div>
          <div class="award-con">
              <h3 class="award-title">纪念奖</h3>
              <ul class="win">
                  <li class="clearfix win-li">
                      <div class="f-l avatar">
                          <img width="34" src="./img/gift/chongdian.jpg"/>
                      </div>
                      <div class="f-l name">罗马仕充电宝</div>
                  </li>
                  <li class="clearfix win-li">
                      <div class="f-l avatar">
                          <img width="34" src="./img/gift/nuanshou.jpg"/>
                      </div>
                      <div class="f-l name">马卡龙  暖手宝</div>
                  </li>
                  <li class="clearfix win-li">
                      <div class="f-l avatar">
                          <img width="34" src="./img/gift/bao.jpg"/>
                      </div>
                      <div class="f-l name">旅行双肩包</div>
                  </li>
                  <li class="clearfix win-li">
                      <div class="f-l avatar">
                          <img width="34" src="./img/gift/beizi.jpg"/>
                      </div>
                      <div class="f-l name">乐扣马克保温杯</div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <img src="./img/lantern.png" alt="" width="85" id="liwu" class="switch">
