<div class="image initstyle">
  <div class="border-opacity">
    透明边框，海内存知己， 天涯若比邻。
  </div>
</div>


<div class="borderoutline initstyle">
  <div class="">
    边框
  </div>
</div>

<div class="borderradios initstyle">
  <div class="">
    边框圆角
  </div>
</div>

<div class="linear initstyle">
  <div class="">
  linear-gradient(#fb3, #58a);
  </div>
</div>

<div class="ridios initstyle">
  <div class="">
    边框
  </div>
</div>
