<h5>Running tasks: {{count}}</h5>

<button {{action 'performTask'}}>Perform Task</button>
{{#if count}}
  <button {{action 'cancelAll'}}>Cancel All</button>
{{/if}}
{{#if mostRecent.isRunning}}
  <button {{action 'cancelMostRecent'}}>Cancel Most Recent</button>
{{/if}}
