<div class="service flex">
     <div class="service-line-name banwei-line-name">
       <div class="service-line-name-banwei">
         <span class="line-name">班委</span>
       </div>
     </div>
     <div class="service-line-content flex">
       {{#each teamleader as |item|}}
          <div class="ancestors banwei-ancestors opacity8" {{action 'openuser' item.team_id }}>
            <div>
              <div class="f16 jobname">
                {{item.jobname}}
              </div>
              <div class="f16 jobname">
                {{item.name}}
              </div>
            </div>
          </div>
       {{/each}}
     </div>
</div>
