<header class="main-header">
  <!-- Logo -->
  <a href="#/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">分销系统</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>猪八戒</b>分销系统</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i>{{model.data.user_name}}
          </a>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="https://login.zbj.com/login/dologout" target="_top"><i class="fa fa-sign-out"></i>退出</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
