{{!-- <div class="animatedx fadeInx">
  <div class="meny-contents">
    {{main-content/header}}
    <div class="wrapper row-offcanvas row-offcanvas-left">
      {{main-content/sidebar}}
      <aside class="right-side">
        {{outlet "main"}}
      </aside>
    </div>
  </div>
</div> --}}
{{outlet}}
