<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
  <li class="header">主菜单</li>
  <li class="active treeview">
    <a href="#">
      <i class="fa fa-users"></i> <span>服务商管理</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li class="active">
        <a href="#/servicerin"><i class="fa fa-circle-o"></i>服务商录入</a>
        <a href="#/servicer"><i class="fa fa-circle-o"></i>我的服务商</a>
        <a href="#/"><i class="fa fa-circle-o"></i>服务商查重</a>
      </li>
    </ul>
  </li>

  <li class="treeview">
   <a href="#">
     <i class="fa fa-file"></i> <span>签单管理</span> <i class="fa fa-angle-left pull-right"></i>
   </a>
   <ul class="treeview-menu">
     <li class="active">
       <a href="#/sign/list/me/_"><i class="fa fa-circle-o"></i>我的订单</a>
     </li>
   </ul>
 </li>

  <li class="treeview hidden">
    <a href="#">
      <i class="fa fa-user"></i> <span>账号管理</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li class="active">
        <a href="#"><i class="fa fa-circle-o"></i>账号授权登录</a>
      </li>
    </ul>
  </li>
</ul>
